.tahoma-font{
  font-family: Tahoma;
  font-size: 20px;
  font-weight: bold;
}
.deals-heading{
  font-family: Arial;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0px;
}
.deals-text{
  font-family: Arial;
  font-size: 14px;
  color: red;
  font-style: italic;
  margin-top: 5px;
}
.course-title{
  font-family: Verdana;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 0px;
}
.course-level{
  font-family: Verdana;
  font-size: 13px;
  color: gray;
  margin-top: 5px;
}
.course-description{
  font-family: Verdana;
  font-size: 13px;
  width: 250px;
}
.started-button{
  background-color: green;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 12px;
  padding-right: 12px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
}
.apple-title{
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  width: 280px;
}
.apple-description{
  font-family: Arial;
  font-size: 12px;
  text-align: center;
  width: 280px;
}
.apple-learn{
  font-family: Arial;
  font-size: 12px;
  text-align: center;
  width: 280px;
  color: rgb(24, 159, 255);
}
.apple-learn:hover{
 text-decoration: underline;
}
.mac{
  font-family: Arial;
  text-align: center;
  width: 280px;
  line-height: 6px;
}
.mac-new{
  font-size: 12px;
  color: orange;
}
.mac-title{
  font-size: 18px;
  font-weight: bold;
}
.mac-name{
  font-size: 23px;
  font-weight: bold;
}
.mac-price{
  font-size: 13px;
}
.mac-buy-button{
  background-color: rgb(3, 108, 230);
  color: white;
  font-size: 11px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 18px;
  border: none;
  margin-left: 120px;
}

.fivef{
 font-family: Arial;
 line-height: 8px;
 margin-bottom: 0px;
}
.line1{
  font-size: 22px;
}
.currency{
  color: gray;
  font-size: 14px;
}
.line2{
  color: green;
  font-size: 12px;
}
.line3{
  font-size: 12px;
  color: gray;
}
.red-font{
  font-family: Arial;
  font-size: 12px;
  color: rgb(200, 19, 19);
}
.code-camp{
  font-family: Arial;
  font-size: 14px;
  width: 450px;
}
.course-heading{
  font-weight: bold;
}
.gray-font{
  color: gray;
  font-weight: 200;
}
.blue-font{
  color: rgb(19, 99, 211);
}
